<a routerLink="/" class="btn btn-primary btn-block signup-btn read-m" *ngIf="href=='/aboutUS'">Back to home</a>

<!--/main-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12" style="text-align: center; margin: 15px">
          <h1 style="font-size: 60px;">We Are Just Us :)</h1>

      </div>
    </div>
    <div class="row" style="margin-bottom: 40px">
      <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="/images/refael.jpg" height="300px" width="75%" style="margin: 10px">
        <h1 style="margin-bottom: 5px">Refael Zanzuri</h1>
        <p style="font-size: 20px">
          <i class="fas fa-envelope" style="margin-right: 5px"></i>michael19191@gmail.com</p>
        <p style="font-size: 20px">
          <i class="fas fa-mobile-alt" style="margin-right: 5px"></i> 052-3398088</p>
      </div>

      <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="/images/michael.jpg" height="300px" width="75%" style="margin: 10px">
        <h1 style="margin-bottom: 5px">Michael Lugassi</h1>
        <p style="font-size: 20px">
          <i class="fas fa-envelope" style="margin-right: 5px"></i>michael19191@gmail.com</p>
        <p style="font-size: 20px">
          <i class="fas fa-mobile-alt" style="margin-right: 5px"></i> 052-3398088</p>
      </div>
    </div>
  </div>
</section>
<!--//main-->
<app-footer *ngIf="footer"></app-footer>