<header>
  <div class="top-bar_sub_w3layouts container-fluid">
    <div class="row">
      <div class="col-md-4 logo text-left">
        <a class="navbar-brand" href="index.html">
          <i class="fab fa-linode"></i> Weblog</a>
      </div>
      <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
        <span>Welcome Back!</span>
        <span class="mx-lg-4 mx-md-2  mx-1">
          <a href="/logout">
            <i class="fas fa-sign-out-alt"></i> Log out</a>
        </span>
        <span>
          <a href="register.html">
            <i class="far fa-user"></i> Register</a>
        </span>
      </div>
      <div class="col-md-4 log-icons text-right">

        <ul class="social_list1 mt-3">

          <li>
            <a href="#" class="facebook1 mx-2" >
              <i class="fab fa-facebook-f"></i>

            </a>
          </li>
          <li>
            <a href="#" class="twitter2">
              <i class="fab fa-twitter"></i>

            </a>
          </li>
          <li>
            <a href="#" class="dribble3 mx-2">
              <i class="fab fa-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#" class="pin">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="header_top" id="home">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                Features
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="blog1.html">Standard Blog</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="blog2.html">2 Column Blog</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="blog3.html">3 Column Blog</a>

              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>

          </ul>
            <form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
              <input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
              <button class="btn btn1 my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
  
          

        </div>
      </nav>

    </div>
</header>


<app-login></app-login>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">{{userName}}</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Dosh</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li *ngFor="let item of items1">
          <a href={{item.link}}>{{item.name}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let item of items2">
          <a href={{item.link}} data-toggle="modal" attr.data-target={{item.modal}} >
            <span class={{item.class}}></span>{{item.name}}</a>
        </li>
        <!-- <li *ngIf="logoutShow">
            <a href="/login/logout">
              <span class="glyphicon glyphicon-log-out"></span>Logout</a>
          </li> -->
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<app-users></app-users>
