<div class="fixed-top" id="home">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" data-toggle="collapse" data-target="#navbarSupportedContent">
    <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="user" class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand logo" routerLink="/">
        <i class="fab fa-linode"></i> Blogular</a>
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/blogs" data-toggle="collapse">Blogs</a>
        <a class="nav-link" routerLink="/chat">Chat</a>
        <a class="nav-link" routerLink="/users" *ngIf="user.isAdmin">Users</a>
        <a class="nav-link" routerLink="/contact">Contact</a>
        <a class="nav-link" routerLink="/about">About</a>
      </ul>
      <ul class="navbar-nav" data-close-on-click="true">
        <li class="nav-item dropdown">
          <i class="fas fa-circle" *ngIf="user.inboxCount > 0"></i>
          <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-users-cog"></i> {{user.firstName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="Dropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#update-modal" (click)="openModal(content)">
              <i class="fas fa-user"></i> Properties</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/inbox" (click)="changeInboxCount()">
              <button class="numberForInbox" *ngIf="user.inboxCount > 0">{{user.inboxCount}}</button>
              <i class="fas fa-inbox"></i> Inbox</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i> Log out</a>
          </div>
        </li>
      </ul>
      <form ngNativeValidate (ngSubmit)="search()" class="form-inline my-2 my-lg-0 header-search">
        <input type="search" [(ngModel)]="filter" name="search" class="form-control mr-sm-1" placeholder="Search here..." />
        <button class="btn btn1 my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </nav>
</div>

<!--                  Update modal                  -->
<ng-template class="modal fade" #content let-c="close" let-d="dismiss">
  <form ngNativeValidate class="modal-content animate" (ngSubmit)="update()" #updateForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="close_modal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-6 col-md-6" style="width: 100%">
          <div class="edit">
            <div class="btn btn-secondary imgBtn" placement="left" ngbTooltip="Upload New Image" (click)="file.click()">
              <i class="fas fa-camera" style="position: absolute;     top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);">
              </i>
            </div>
            <input type="file" (change)="onFileChange($event.target.files)" class="form-control" accept="image/*" #file/>
          </div>
          <img style="z-index: 0;border-radius: 50%;" width="200" height="200" [src]="image">
        </div>
        <div class="col-xs-6 col-md-6">
          <br>
          <input type="text" [(ngModel)]="user.userName" name="userName" class="form-control" placeholder="User name" readonly />
          <br>
          <input type="text" [(ngModel)]="user.firstName" name="firstName" class="form-control" placeholder="First Name" required/>
          <br>
          <input type="text" [(ngModel)]="user.lastName" name="lastName" class="form-control" placeholder="Last Name" required/>
          <br>
          <input type="password" [(ngModel)]="oldPassword" name="oldPassword" [hidden]="!editPass" [required]="editPass" class="form-control"
            placeholder="Old Password" />
        </div>
      </div>
    </div>
    <div class="modal-body">
      <!-- Modal body -->
      <div class="modal-body">
        <!-- passwords -->
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <input type="password" [(ngModel)]="password" name="password" [hidden]="!editPass" [required]="editPass" class="form-control"
              placeholder="Password" />
          </div>
          <div class="col-xs-6 col-md-6">
            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" [hidden]="!editPass" [required]="editPass" class="form-control"
              placeholder="Confirm Password" />
          </div>
        </div>
        <br [hidden]="!editPass">
        <!-- mail and gender -->
        <div class="row">
          <div class="col-xs-7 col-md-7">
            <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required/>
          </div>
          <div class="col-xs-5 col-md-5">
            <select [(ngModel)]="user.gender" name="gender" class="form-control" required>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <br>
        <!-- birthday -->
        <div class="row">
          <div class="col-xs-2 col-md-2">
            <label class="align-middle text-center">BirthDay:</label>
          </div>
          <div class="col-xs-3 col-md-3">
            <select [(ngModel)]="month" name="month" class="form-control" required>
              <option value="01">Jan</option>
              <option value="02">Feb</option>
              <option value="03">Mar</option>
              <option value="04">Apr</option>
              <option value="05">May</option>
              <option value="06">Jun</option>
              <option value="07">Jul</option>
              <option value="08">Aug</option>
              <option value="09">Sep</option>
              <option value="10">Oct</option>
              <option value="11">Nov</option>
              <option value="12">Dec</option>
            </select>
          </div>
          <div class="col-xs-3 col-md-3">
            <select [(ngModel)]="day" name="day" class="form-control" required>
              <option *ngFor="let day of days" value={{day}}>{{day}}</option>
            </select>
          </div>
          <div class="col-xs-4 col-md-4">
            <select [(ngModel)]="year" name="year" class="form-control" required>
              <option *ngFor="let year of years" value={{year}}>{{year}}</option>
            </select>
          </div>
        </div>
        <br>
        <!-- blogger admin edit password -->
        <div class="row">
          <div class="col-xs-4 col-md-4">
            <div id="checkbox-blogger" class="checkbox">
              <label>
                <input type="checkbox" [checked]=user.isBlogger (click)="changeBlogger()"> Is Blogger
              </label>
            </div>
          </div>
          <div class="col-xs-4 col-md-4">
            <div id="checkbox-editPass" class="checkbox">
              <label>
                <input type="checkbox" (click)="editPassword()"> Edit Password
              </label>
            </div>
          </div>
          <div class="col-xs-4 col-md-4">
            <div id="checkbox-RemoveAccount" class="checkbox">
              <label>
                <input type="checkbox" [checked]="!user.isActive" (click)="removeAccount()"> Remove My Account
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <input class="btn btn-primary btn-block signup-btn read-m" type="submit" value="Update" [disabled]="!updateForm.form.valid">
      </div>
    </div>
  </form>
  <!-- /.modal-dialog -->
</ng-template>