.template_class {
  top: 50px;
}

.custom-class {
  position: absolute;
  top: 200px;
}

i[class="fas fa-circle"] {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #01cd74;
  font-size: 7px;
}

button[class="numberForInbox"] {
  position: absolute;
  top: 53px;
  right: 15px;
  color: white;
  font-size: 11px;
  background: #01cd74;
  border-radius: 50%;

}

.edit .imgBtn {
  width: 70px;
  height: 70px;
  background: #01cd74;
  border: none;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 15;
}

.edit input[type="file"] {
  height: 10px;
  width: 10px;
  position: absolute;
  right: 0;
  display: none;
}