  <div class="row">
    <div class="col-md-8 ">
      <div class="frame">
          <app-chat-message></app-chat-message>
      </div>

      <div class="chat-func clearfix">
        <div class="msj-rta macro">
          <div class="text text-r" style="background:whitesmoke !important">
            <input class="mytext" placeholder="Type a message" />
          </div>
          <div class="btns">
                <button class="btn btn-info far fa-image btn-circle imgBtn"></button>
              </div>
              <div class="btns">
                <button class=" btn btn-info fas fa-paper-plane btn-circle btn-lg sendBtn"></button>
              </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>

