<body>
    <!----------------------------       signup       ---------------------------------->
  
    <section class="main-content-w3layouts-agileits" [hidden]="!hide || !showPage">
      <div class="container">
        <h3 class="tittle">Sign Up</h3>
        <div class="row inner-sec">
          <div class="login p-5 bg-dark mx-auto mw-100" style="opacity:0.8;">
            <form ngNativeValidate (ngSubmit)="signup()" #signupForm="ngForm">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <small style="color:white">Your first name:</small>
                  <input type="text" name="firstname" class="form-control" [(ngModel)]="firstName" placeholder="First Name" required/> </div>
                <div class="col-xs-6 col-md-6">
                  <small style="color:white">Your last name:</small>
                  <input type="text" name="lastname" required class="form-control" [(ngModel)]="lastName" placeholder="Last Name" /> </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <small style="color:white">User name:</small>
                  <input type="text" name="userName" required class="form-control" [(ngModel)]="userName" placeholder="User name" /> </div>
                <div class="col-xs-6 col-md-6">
  
                  <small style="color:white">Gender:</small>
                  <select name="gender" required class="form-control" [(ngModel)]="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
              </div>
              <small style="color:white">Email:</small>
              <input type="email" name="email" required class="form-control" [(ngModel)]="email" placeholder="Your Email" />
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <small style="color:white">Password:</small>
                  <input type="password" name="Password" required class="form-control" [(ngModel)]="password" placeholder="Password" />
                </div>
                <div class="col-xs-6 col-md-6">
                  <small style="color:white">Confirm password:</small>
                  <input type="password" name="confirm_password" required class="form-control" [(ngModel)]="confirmPassword" placeholder="Confirm Password"
                  /> </div>
              </div>
              <small style="color:white">Birth Date:</small>
              <div class="row">
                <div class="col-xs-4 col-md-4">
                  <select name="day" [(ngModel)]="day" required class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                </div>
                <div class="col-xs-4 col-md-4">
                  <select name="month" [(ngModel)]="month" required class="form-control">
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                </div>
                <div class="col-xs-4 col-md-4">
                  <select name="year" [(ngModel)]="year" required class="form-control">
                    <option value="1935">1935</option>
                    <option value="1936">1936</option>
                    <option value="1937">1937</option>
                    <option value="1938">1938</option>
                    <option value="1939">1939</option>
                    <option value="1940">1940</option>
                    <option value="1941">1941</option>
                    <option value="1942">1942</option>
                    <option value="1943">1943</option>
                    <option value="1944">1944</option>
                    <option value="1945">1945</option>
                    <option value="1946">1946</option>
                    <option value="1947">1947</option>
                    <option value="1948">1948</option>
                    <option value="1949">1949</option>
                    <option value="1950">1950</option>
                    <option value="1951">1951</option>
                    <option value="1952">1952</option>
                    <option value="1953">1953</option>
                    <option value="1954">1954</option>
                    <option value="1955">1955</option>
                    <option value="1956">1956</option>
                    <option value="1957">1957</option>
                    <option value="1958">1958</option>
                    <option value="1959">1959</option>
                    <option value="1960">1960</option>
                    <option value="1961">1961</option>
                    <option value="1962">1962</option>
                    <option value="1963">1963</option>
                    <option value="1964">1964</option>
                    <option value="1965">1965</option>
                    <option value="1966">1966</option>
                    <option value="1967">1967</option>
                    <option value="1968">1968</option>
                    <option value="1969">1969</option>
                    <option value="1970">1970</option>
                    <option value="1971">1971</option>
                    <option value="1972">1972</option>
                    <option value="1973">1973</option>
                    <option value="1974">1974</option>
                    <option value="1975">1975</option>
                    <option value="1976">1976</option>
                    <option value="1977">1977</option>
                    <option value="1978">1978</option>
                    <option value="1979">1979</option>
                    <option value="1980">1980</option>
                    <option value="1981">1981</option>
                    <option value="1982">1982</option>
                    <option value="1983">1983</option>
                    <option value="1984">1984</option>
                    <option value="1985">1985</option>
                    <option value="1986">1986</option>
                    <option value="1987">1987</option>
                    <option value="1988">1988</option>
                    <option value="1989">1989</option>
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="modal-footer">
                <input class="btn btn-lg btn-primary btn-block signup-btn read-m" type="submit" value="Create my account" [disabled]="!signupForm.form.valid">
              </div>
              <div class="form-group">
                <div class="pull-right">
                  <span style="color:white"> Already have an account?</span>
                  <a class="kinda-link" (click)="switch()">
                    <span style="color:#01cd74"> Sign In Here</span>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  
  
  
    <section class="main-content-w3layouts-agileits" [hidden]="hide||!showPage">
      <div class="container">
        <h3 class="tittle">Sign In Now</h3>
        <div class="row inner-sec">
          <div class="login p-5 bg-dark mx-auto mw-100" style="opacity:0.8;">
            <form (ngSubmit)="login()" #loginForm="ngForm">
              <small style="color:white">User name:</small>
              <input type="text" name="loginUserName" class="form-control" [(ngModel)]="loginUserName" placeholder="Login" required>
              <small style="color:white">Password</small>
              <input type="password" name="loginPassword" class="form-control" [(ngModel)]="loginPassword" placeholder="Password" required>
              <br>
              <label>
                <input type="checkbox" [checked]=rememME (click)="switchRememberMe()">
                <span style="color:white"> Remember me</span>
              </label>
              <br>
              <!-- /.checkbox -->
              <span class="psw">
                <span style="color:white"> Forgot </span>
                <a class="kinda-link" data-toggle="modal" data-target="#resetPassword-modal" style="color:#01cd74">password?</a>>
              </span>
  
              <div class="modal-footer">
                <input class="btn btn-lg btn-primary btn-block signup-btn read-m" type="submit" value="Log In" [disabled]="!loginForm.form.valid">
              </div>
              <div class="form-group">
                <div class="pull-right">
                  <span style="color:white"> Don't have an account?</span>
                  <a class="kinda-link" (click)="switch()">
                    <span style="color:#01cd74"> Sign Up Here</span>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
  
  
  <div class="modal fade" id="resetPassword-modal" aria-hidden="true">
    <div class="modal-dialog" style="background: white">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <div class="modal-body">
        <form class="modal-content animate" (ngSubmit)="resetPassword()" #resetForm="ngForm">
          <div class="container">
            <label for="mail">Enter Email for reset password</label>
            <input type="email" name="emailToReset" class="form-control" [(ngModel)]="emailToReset" placeholder="Email" required>
          </div>
          <br>
          <input class="btn btn-primary btn-block signup-btn read-m" type="submit" value="Reset my password" [disabled]="!resetForm.form.valid">
        </form>
      </div>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->