<div *ngIf="isFirst;then firstBlog else otherBlogs">
  </div>
<ng-template #firstBlog>
  <div class="carousel-item active">
    <div class="carousel-caption">
      <h3>Create the lifestyle
        <span>you desire</span>
      </h3>
      <div class="read">
        <a href="single.html" class="btn btn-primary read-m">Read More</a>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #otherBlogs>
  <div class="carousel-item item3">
    <div class="carousel-caption">
      <h3>Create the lifestyle
        <span>you desire</span>
      </h3>
      <div class="read">
        <a href="single.html" class="btn btn-primary read-m">Read More</a>
      </div>
    </div>
  </div>
</ng-template>