<div class="container">
  <div class="mail-box">
    <aside class="lg-side">
      <div class="inbox-body">
        <div class="mail-option">
          <div class="chk-all">
            <input type="checkbox" class="mail-checkbox mail-group-checkbox" [checked]="CheckAll" (click) ="checkAll()">
            <a class="btn mini all" (click)="checkAll()">
              All
            </a>
          </div>
          <div class="chk-all">
            <a class="btn mini all" (click)="read()">
              Read
            </a>
          </div>
          <div class="chk-all">
            <a class="btn mini all" (click)="unread()">
              Unread
            </a>
          </div>
          <div class="chk-all">
              <a class="btn mini all" (click)="delete()">
                Delete
              </a>
            </div>
        </div>
        <h3>{{NotInboxMessage}}</h3>
        <table class="table table-inbox">
          <tbody>
            <tr *ngFor="let in of inbox; let i = index" class={{in.class}}>
              <td class="inbox-small-cells table-inbox" width="4%">
                <input type="checkbox" class="mail-checkbox" [checked]="inbox[i].isChecked" (click)="onSelectionChange(in.index)">
              </td>
              <table class="table table-inbox table-hover"> 
                <tr data-toggle="collapse" attr.data-target={{in.id}} (click)="read(in.index)">
                  <td class="view-message  dont-show" width="40%">{{in.sender}}</td>
                  <td class="view-message dont-show" width="40%">{{in.title}}</td>
                  <td class="view-message  text-right" width="20%">{{in.date | dateFormate}}</td>
                </tr>
                <tr id={{in._id}} class="collapse">
                  <td colspan="2">
                    <div >
                       <b>Content:</b> 
                    </div>                    <div >
                        {{in.content}}
                     </div>
                    </td>
                    <td style="text-align:right;">
                      {{in.date | date: 'medium'}}
                    <button class="btn btn-primary btn-block signup-btn read-m" (click)="confirm(in.index)" [hidden]="inbox[i].isConfirm">confirm</button>
                    <button class="btn btn-primary btn-block signup-btn read-m" style="background: tomato" (click)="reject(in.index)" [hidden]="inbox[i].isConfirm">reject</button>
                  </td>
                </tr>
              </table>
            </tr>
          </tbody>
        </table>
      </div>
    </aside>
  </div>
</div>