<section class="main-content-w3layouts-agileits">
  <div class="container">
    <div class="row">
      <!--right-->
      <div class="col-lg-8">
        <router-outlet></router-outlet>
      </div>
      <!--//right-->
      <!--left-->
      <aside class="col-lg-4 agileits-w3ls-right-blog-con text-left" style="left: 0;">
        <div class="tech-btm">
          <!-- <h4>My Posts</h4> -->
          <button type="button" class="accordion" data-toggle="collapse" data-target="#myBlogsAcc">My Blogs</button>
          <div id="myBlogsAcc" class="collapse">
            <div *ngFor="let blog of myBlogs">
              <div *ngIf="blog" class="blog-grids row mb-3">
                <div class="col-md-5 blog-grid-left">
                  <a href="blogs/{{blog.id}}">
                    <img src="{{blog.imgPath}}" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="col-md-7 blog-grid-right">

                  <h5>
                    <a href="blogs/{{blog.id}}">{{blog.title}} </a>
                  </h5>
                  <p>
                      By {{blog.author}}
                  </p>
                  <div class="sub-meta">
                    <span>
                      <i class="far fa-clock"></i> {{blog.created_at | date: 'LLL d, y'}}</span>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="tech-btm">
          <!-- <h4>All Posts</h4> -->
          <button type="button" class="accordion" data-toggle="collapse" data-target="#allBlogsAcc">All Blogs</button>
          <div id="allBlogsAcc" class="collapse">
            <div *ngFor="let blog of allBlogs">
              <div *ngIf="blog" class="blog-grids row mb-3">
                <div class="col-md-5 blog-grid-left">
                  <a href="blogs/{{blog.id}}">
                    <img src="{{blog.imgPath}}" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="col-md-7 blog-grid-right">

                  <h5>
                    <a href="blogs/{{blog.id}}">{{blog.title}} </a>
                  </h5>
                  <p>
                    By {{blog.author}}
                  </p>
                  <div class="sub-meta">
                    <span>
                      <i class="far fa-clock"></i> {{blog.created_at | date: 'LLL d, y'}}</span>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </aside>
      <!--//left-->

    </div>
  </div>
</section>