<!-- <div class="sidenav bg-light">
  <button type="button" class="accordion" data-toggle="collapse" data-target="#myBlogsAcc">My Blogs</button>
  <div id="myBlogsAcc" class="collapse">
    <div *ngFor="let blog of myBlogs">
      <div class="card">
        <div class="row">
          <div class="col-md-3 blog-grid-left">
            <a href="blogs/{{blog.id}}">
              <img src="{{blog.imgPath}}" class="img-fluid" alt="">
            </a>
          </div>
          <div class="col-md-9">
            <div class="card-block">
              <h4 class="card-title">{{blog.title}}</h4>
              <p class="card-text">
                <div class="sub-meta">
                  <span>
                    <i class="far fa-clock"></i> {{blog.created_at}}</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <button type="button" class="accordion" data-toggle="collapse" data-target="#blogsAcc">Blogs</button>
  <div id="blogsAcc" class="collapse">
      <div *ngFor="let blog of allBlogs">
          <div class="card">
            <div class="row">
              <div class="col-md-3 blog-grid-left">
                <a href="blogs/{{blog.id}}">
                  <img src="{{blog.imgPath}}" class="img-fluid" alt="">
                </a>
              </div>
              <div class="col-md-9">
                <div class="card-block">
                  <h4 class="card-title">{{blog.title}}</h4>
                  <p class="card-text">
                    <div class="sub-meta">
                      <span>
                        <i class="far fa-clock"></i> {{blog.created_at}}</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>  </div>
</div>

<div class="main">
  <h2>Sidebar</h2>
  <p>This sidebar is of full height (100%) and always shown.</p>
  <p>Scroll down the page to see the result.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum,
    altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et.
    Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum,
    altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et.
    Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum,
    altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et.
    Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum,
    altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et.
    Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
</div> -->
<section class="main-content-w3layouts-agileits">
  <div class="container">
    <div class="row">
      <!--right-->
      <router-outlet></router-outlet>
      <!--//right-->
      <!--left-->
      <aside class="col-lg-4 agileits-w3ls-right-blog-con text-left" style="left: 0;">
        <div class="tech-btm">
          <!-- <h4>My Posts</h4> -->
          <button type="button" class="accordion" data-toggle="collapse" data-target="#myBlogsAcc">My Blogs</button>
          <div id="myBlogsAcc" class="collapse">
            <div *ngFor="let blog of allBlogs">
              <div class="blog-grids row mb-3">
                <div class="col-md-5 blog-grid-left">
                  <a href="blogs/{{blog.id}}">
                    <img src="{{blog.imgPath}}" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="col-md-7 blog-grid-right">

                  <h5>
                    <a href="blogs/{{blog.id}}">{{blog.title}} </a>
                  </h5>
                  <div class="sub-meta">
                    <span>
                      <i class="far fa-clock"></i> {{blog.created_at}}</span>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="tech-btm">
          <!-- <h4>All Posts</h4> -->
          <button type="button" class="accordion" data-toggle="collapse" data-target="#allBlogsAcc">My Blogs</button>
          <div id="allBlogsAcc" class="collapse">
            <div *ngFor="let blog of allBlogs">
              <div class="blog-grids row mb-3">
                <div class="col-md-5 blog-grid-left">
                  <a href="blogs/{{blog.id}}">
                    <img src="{{blog.imgPath}}" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="col-md-7 blog-grid-right">

                  <h5>
                    <a href="blogs/{{blog.id}}">{{blog.title}} </a>
                  </h5>
                  <div class="sub-meta">
                    <span>
                      <i class="far fa-clock"></i> {{blog.created_at}}</span>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </aside>
      <!--//left-->

    </div>
  </div>
</section>