<section class="main-content-w3layouts-agileits" [hidden]="hide">
    <div class="container">
      <h3 class="tittle">reset the password</h3>
      <div class="row inner-sec">
        <div class="login p-5 bg-dark mx-auto mw-100" style="opacity:0.8;">
          <form (ngSubmit)="reset()" #resetForm="ngForm">
            <small style="color:white">Password:</small>
            <input type="password" name="loginUserName" class="form-control" [(ngModel)]="password" placeholder="Password" required>
            <small style="color:white">Confirm password</small>
            <input type="password" name="loginPassword" class="form-control" [(ngModel)]="confirmPassword" placeholder="Confirm password" required>
            <br>
            <div class="modal-footer">
              <input class="btn btn-lg btn-primary btn-block signup-btn read-m" type="submit" value="Reset" [disabled]="!resetForm.form.valid">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>