<div class="col-lg-12 left-blog-info-w3layouts-agileits text-left">
  <div class="blog-grid-top">
    <div class="b-grid-top">
      <div class="blog_info_left_grid">
        <div class="edit">
          <button class="btn btn-secondary imgBtn" (click)="file.click()">
            <i class="fas fa-camera"> </i>
          </button>
          <input type="file" (change)="onFileChange($event.target.files)" class="form-control" accept="image/*" #file/>
        </div>
        <div class="transbox">
          <img style="z-index: 0;" height="100%" width="100%" [src]="imgPath" class="img-fluid" alt="">
        </div>
      </div>
    </div>

    <div class="edit">
      <input type="text" class="form-control" [(ngModel)]="title" placeholder="Write a title..." />
      <textarea class="form-control" [(ngModel)]="content" placeholder="Write something..."></textarea>
    </div>

    <div class="edit">
      <select class="form-control" [(ngModel)]="category">
        <option [attr.value]="None">Choose Category...</option>
        <option [attr.value]="Economics">Economics</option>
        <option [attr.value]="Parenting">Parenting</option>
        <option [attr.value]="Political">Political</option>
        <option [attr.value]="Pet">Pet</option>
        <option [attr.value]="Gaming">Gaming</option>
        <option [attr.value]="Nature">Nature</option>
        <option [attr.value]="Medical">Medical</option>
        <option [attr.value]="Science">Science</option>
        <option [attr.value]="Business">Business</option>
        <option [attr.value]="Sport">Sport</option>
      </select>
    </div>

    <div class="action">
      <button class="btn btn-success" (click)="save()">
        <i class="fas fa-save">
          Submit
        </i>
      </button>
    </div>
  </div>
</div>
