<div class="col-lg-12 left-blog-info-w3layouts-agileits text-left">
  <div class="blog-grid-top">
    <div class="b-grid-top">
      <div class="blog_info_left_grid">
        <img *ngIf="blog" src="{{blog.imgPath}}" class="img-fluid" alt="">
      </div>
      <div class="blog-info-middle">
        <ul>
          <li *ngIf="blog">
            <i class="far fa-calendar-alt"> {{blog.created_at | date: 'LLL d, y HH:mm'}}</i>
          </li>
          <li *ngIf="blog" class="mx-2">
            <i class="far fa-thumbs-up" (click)="doLikeBlog()" [ngClass]="blog.likes.users.includes(watcher) ? 'clicked' : ''"> {{blog.likes.count}} Likes</i>
          </li>
          <li *ngIf="blog" class="mx-2">
            <i class="far fa-thumbs-down" (click)="doUnlikeBlog()" [ngClass]="blog.unlikes.users.includes(watcher) ? 'clicked' : ''">
              {{blog.unlikes.count}} Unlikes</i>
          </li>
          <li>
            <i class="far fa-comment"> {{blog.comments.count}} Comments</i>
          </li>

        </ul>
      </div>
    </div>

    <h2 *ngIf="blog">
      {{blog.title}}
    </h2>
    <p *ngIf="blog">
      {{blog.content}}
    </p>
  </div>
  <div *ngIf="blog" class="comment-top">
    <h4>Comments</h4>
    <div *ngIf="blog.comments && blog.comments.comment">
      <app-comment *ngFor="let comment of blog.comments.comment" [comment]="comment" [watcher]="watcher" [imgPath]="imgPath" [blogId]="blog.id"
        (replyAddedSuccessfully)="onReplyAddedSuccessfully($event)"></app-comment>
    </div>
  </div>
  <div class="comment-top">
    <div class="comment-bottom">
      <div class="row">
        <div class="col-lg-2">
          <img src="{{imgPath}}" height="70px" width="70px" alt="" class="img-fluid" />
        </div>
        <div class="col-lg-10">
          <textarea class="form-control" [(ngModel)]="newCommentText" placeholder="Write a comment..."></textarea>
          <button type="submit" class="btn btn-primary submit" (click)="addComment()">Submit</button>
        </div>
      </div>
    </div>
  </div>

</div>