<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 footer-grid-agileits-w3ls text-left">
        <h3>About US</h3>
        <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
        <div class="read">
          <a routerLink="/{{about}}" class="btn btn-primary read-m">Read More</a>
        </div>
      </div>
      <div class="col-lg-6 footer-grid-agileits-w3ls text-left">
        <h2>Contact US</h2>
        <p>We love to discuss your idea</p>
        <p>Please send us your ideas</p>
        <div class="read">
          <a routerLink="/{{contact}}" class="btn btn-primary read-m">Contact</a>
        </div>
      </div>
    </div>
  </div>
</footer>