  <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 footer-grid-agileits-w3ls text-left" data-aos="fade-down">
            <h3>About US</h3>
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
            <div class="read">
              <a href="about" class="btn btn-primary read-m">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
