<div *ngFor="let message of messages" class="chat-warp left">
  <div class="clearfix">
    <img class="avatar-item" src="/images/users_profiles/Male.default.jpg" />
    <div class="text-warp">
      <h3>{{message.writer}}</h3>
      <div class="date">12.12.12</div>
      <p>{{message.content}}</p>
    </div>
    <div class="like-warp">
      <i class="far fa-thumbs-up"> 2</i>
      <i class="far fa-thumbs-down"> 2</i>
    </div>
  </div>
</div>

<div class="chat-warp left">
  <div class="clearfix">
    <img class="avatar-item" src="/images/users_profiles/Male.default.jpg" />
    <div class="text-warp">
      <h3>User name</h3>
      <div class="date">12.12.12</div>
      <p>It is a long a page when looking as opposed to using</p>
    </div>
    <div class="like-warp">
      <i class="far fa-thumbs-up"> 2</i>
      <i class="far fa-thumbs-down"> 2</i>
    </div>
  </div>
</div>

<div class="chat-warp right">
  <div class="clearfix">
    <img class="avatar-item" src="/images/users_profiles/Male.default.jpg" />
    <div class="text-warp">
      <h3>User name</h3>
      <div class="date">12.12.12</div>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
        layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
        using
      </p>
    </div>
    <div class="like-warp">
      <i class="far fa-thumbs-up"> 2</i>
      <i class="far fa-thumbs-down"> 2</i>
    </div>
  </div>
</div>