<div *ngIf="!message.isJoinMessage&&!message.isLoadMessage" [ngClass]="userName==message.sender ? 'chat-warp left' : 'chat-warp right'">
  <div class="clearfix">
    <img class="avatar-item" src={{message.imgPath}} />
    <div class="text-warp">
      <h3>{{message.sender}}</h3>
      <p *ngIf="!message.isImage && !isLink(message.text)">{{message.text}}</p>
      <a *ngIf="isLink(message.text)" href={{message.text}} target="_blank" style="overflow: hidden;">{{message.text}}</a>
      <img class="img-content" *ngIf="message.isImage" [src]="message.text" >
      <div class="date">{{message.date | date: 'LLL d, y HH:mm'}}</div>
    </div>
    <div class="like-warp">
      <i [ngClass]="message.likes.indexOf(userName)>-1 ? 'far fa-thumbs-up pushed' : 'far fa-thumbs-up'" (click)="like(message._id)">
      {{message.likes.length}}</i>
      <i [ngClass]="message.unlikes.indexOf(userName)>-1 ? 'far fa-thumbs-down pushed' : 'far fa-thumbs-down'" (click)="unlike(message._id)">
      {{message.unlikes.length}}</i>
    </div>
  </div>
</div>
<div class="newJoin" *ngIf="message.isJoinMessage">{{message.text}}</div>
<div class="newJoin" *ngIf="message.isLoadMessage" (click)="load()">{{message.text}}</div>