.chat-warp>div {
  background: white;
  padding: 15px;
  display: inline-block;
  min-width: 360px;
  max-width: 75%;
  margin: 15px;
  position: relative;
  border-radius: 7px;
}

.chat-warp>div:after {
  width: 0;
  height: 0;
  content: "";
  top: 0;
  left: -7px;
  position: absolute;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent #ffffff transparent transparent;
}

.chat-warp .avatar-item {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
}

.chat-warp .date {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 11px;
  color: #ccc;
  letter-spacing: 1px;
}

.chat-warp .text-warp {
  float: left;
  width: 80%;
}

.chat-warp .text-warp>h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 7px;
}

.chat-warp .text-warp>p {
  font-size: 12px;
  text-align: justify;
  line-height: 1.7em;
}

.chat-warp .like-warp {
  position: absolute;
  top: 5px;
  right: 10px;
}

.chat-warp .like-warp>i {
  font-size: 14px;
}

.chat-warp .like-warp>i+i {
  margin-left: 7px;
}

.chat-warp.right {
  text-align: right;
}

.chat-warp.right>div {
  background-color: #f8f9fa;
}

.chat-warp.right>div:after {
  left: auto;
  right: -8px;
  border-width: 13px 13px 0 0;
  border-color: #f8f9fa transparent transparent transparent;
}

.chat-warp.right .text-warp>h3 {
  text-align: left;
}

i {
  color: #777;
  transition: 0.4s;
}

i:hover {
  color: #01cd74;
  cursor: pointer;
}
i.pushed {
  color: #01cd74;
  cursor: pointer;
}

.clicked {
  color: #01cd74 !important;
}

.newJoin{
  text-align: center;
  margin: 5px 80px 5px;
  background: white;
  border-radius: 20px; 
  color: #777;
}